<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapterempatsharedpreferences">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChapterEmpatSharedPreferences">
        <activity
            android:name=".latihandua.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".latihandua.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".latihandua.SplashDua"
            android:exported="false" />
        <activity
            android:name=".SplashActivitySatu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".latihandua.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".latihansatu.LatihanSatu"
            android:exported="false" />
        <activity
            android:name=".MainSFDua"
            android:exported="false" />
        <activity
            android:name=".MainSF"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>